# to.be.ok
snippet chai.ok
	expect(${1}).to.be.ok;
snippet chai.eql
	expect(${1}).to.eql(${2});
snippet chai.iof
	expect(${1}).to.be.instanceof(${2});
snippet chai.tohave
	expect(${1}).to.have.property(${2});
snippet chai.tobea
	expect(${1}).to.be.a(${2});

